[Unit]
Description=Kscreen system dbus service

[Service]
BusName=net.lliurex.KScreenSystem
ExecStart=/usr/lib/kscreen-system/kscreensystem
Type=dbus
IOSchedulingClass=idle

[Install]
WantedBy=default.target

