Source: kscreen-system 
Section: utils
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es> 
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 qt6-base-dev,
 cmake,
 extra-cmake-modules,
 qt6-declarative-dev,
 libkf6kcmutils-dev
Standards-Version: 4.6.2
Homepage: https://portal.edu.gva.es/lliurex/va
Vcs-Git: https://github.com/lliurex/kscreen-system 

Package: kscreen-system
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: KCM module for system configuration of KScreen 
 This package provides a KCM module for system configuration of KScreen, the 
 KDE display management system. It allow apply the configuration of the display
 system for news users o force the configuration of the display system for all
 users. 
